.education-container {
    position: relative;
}

.add-education-button {
    position: absolute;
    top: 100%;
    opacity: 0;
    /* overflow: hidden; */

    transition: all .7s ease;
    /* position: absolute; */
}

.education-item:hover {
    filter: drop-shadow(0px 0px 20px rgba(204, 54, 41, 0.5));
}

.education-container:hover .add-education-button {
    opacity: 100%;
    /* height: auto; */
}

.education-item {
    display: flex;
    gap: var(--gap-between);

    padding-top: calc(var(--gap-between) / 2);
    padding-bottom: calc(var(--gap-between) / 2);
}

.education-item-members {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
}

.school, .education-year {
    color: var(--color-main);
    font-weight: 900;
    font-size: 0.9rem;
}

.education-year, .education-year:hover {
    margin-left: .5rem;
}

.degree {
    color: var(--color-secondary);
    font-size: 0.9rem;

    grid-column: 1 / span 2;
}

.education-item {
    position: relative;
}


.delete-education {
    /* display: none; */
    position: absolute;
    left: 80%;
    top: 30%;
}

.delete-education {
    opacity: 0;
    transition: all 0.7s ease;
}

.education-item:hover .delete-education {
    opacity: 100%;
}