.header-container {
    display: flex;
    flex-direction: column;
    gap: var(--margin-between);

    justify-content: center;
    padding-bottom: var(--margin-between);

    border-bottom: solid 2px var(--color-main);
}

.main-details {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.full-name {
    color: var(--color-main);
    font-size: 2.3rem;
    font-weight: 500;
}

.position {
    color: var(--color-secondary);
    font-size: 1.3rem;
}

.contact-details {
    display: flex;
    justify-content: center;

    justify-content: left;
    gap: 30px;
    color: var(--color-main);
    font-size: 1rem;
}