.main-container {
    display: flex;
    flex-direction: column;
    gap: var(--margin-between);
    margin-left: var(--margin-between);
    /* height: calc(var(--page-height) * 0.8);
    overflow-y: hidden; */
}