.sidebar-container {
    display: flex;
    flex-direction: column;

    gap: calc(var(--margin-between)*2);
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.sidebar-title {
    color: var(--color-main);
    font-size: 18px;
    font-weight: 700;
}

.sidebar-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-between);
}