.sidebar-container {
    display: flex;
    flex-direction: column;

    gap: calc(var(--margin-between)*2);
    padding-right: var(--margin-between);
    border-right: solid .15rem var(--color-main);
    height: 100%;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-summary, .skill {
    color: var(--color-secondary);
}

.profile-summary:hover {
    filter: drop-shadow(0px 0px 20px rgba(204, 54, 41, 0.5));
}