.add-skill-button {
  display: none;
  /* position: absolute; */
}

.skills-container:hover .add-skill-button {
    display: block;
}

.delete-skill {
    display: none;
    position: absolute;
}

.skill-item:hover .delete-skill {
    display: block;
}

.skill-list {
    display: flex;
    flex-direction: column;

    gap: var(--gap-between);
}