.add-skill-button {
  display: none;
  /* position: absolute; */
}

.skills-container:hover .add-skill-button {
    display: block;
}

.delete-skill {
    display: none;
    /* position: absolute;
    left: 100%; */
}

.skill-item:hover .delete-skill {
    display: block;
}

.skill-list {
    display: flex;
    flex-direction: column;

    /* gap: var(--gap-between); */
    position: relative;
}

.skill-item {
    display: flex;
    gap: var(--gap-between);

    padding-top: calc(var(--gap-between) / 2);
    padding-bottom: calc(var(--gap-between) / 2);
}

.delete-skill {
    padding: 3px 10px;
}

.add-skill-button {
    padding: 10px 10px;
    width: fit-content;

    align-self: center;
}


.profile-summary {
  word-wrap: break-word;
}