.skills-container {
    position: relative;
}

.add-skill-button {
    position: absolute;
    top: 100%;
    opacity: 0%;
    /* overflow: hidden; */

    transition: all .7s ease;
    /* position: absolute; */
}

.skills-container:hover .add-skill-button {
    opacity: 100%;
    /* height: auto; */
}

.skill-list {
    display: flex;
    flex-direction: column;

    /* gap: var(--gap-between); */
    position: relative;
}


.skill-item:hover {
    filter: drop-shadow(0px 0px 20px rgba(204, 54, 41, 0.5));
}


.skill-item {
    display: flex;
    gap: var(--gap-between);

    padding-top: calc(var(--gap-between) / 2);
    padding-bottom: calc(var(--gap-between) / 2);
}

.delete-skill {
    padding: 3px 10px;
}

.add-button {
    padding: 10px 10px;
    width: fit-content;

    align-self: center;
}


.profile-summary {
  word-wrap: break-word;
}

.delete-skill {
    opacity: 0;
    transition: all 0.7s ease;
}

.skill-item:hover .delete-skill {
    opacity: 100%;
}