:root {
    --color-main: #CB3628;
    --color-main-faded: rgba(204, 54, 41, 0.7);
    --color-main-darken: #9c2a20;
    --color-secondary: rgb(123, 123, 123);
    --color-secondary-faded: rgba(123, 123, 123, 0.7);

    /* --margin-between: 25px; */

    --page-width: min(80vw , 1000px);
    --page-height: calc(var(--page-width) * 297/210);

    --main-font-size: calc(var(--page-width)/40);
}

html {
    font-size: var(--main-font-size);
}

:root {
    --main-padding: 3.5rem;
    --margin-between: 1.8rem;
    --gap-between: .8rem;
}