:root {
    --color-main: #CB3628;
    --color-main-darken: #9c2a20;
    --color-secondary: #535353;

    /* --margin-between: 25px; */

    --page-width: 80vw;
    --page-height: calc(var(--page-width) * 297/210);

    --main-font-size: calc(var(--page-width)/40);
}

html {
    font-size: var(--main-font-size);
}

:root {
    --main-padding: 3.5rem;
    --margin-between: 1.8rem;
    --gap-between: .8rem;
}